* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

#video2 {
    position: absolute;
    right: 0;
    top: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 15vw;
    height: 10vh;
    /* background-color: #333; */
    position: relative;
    z-index: 99;
}


#dragme {
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    /* background-color: blue; */
    z-index: 2;
    border: 2px dotted #fff;
}

.cir-p {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 5vw;
    right: 0;

    height: 5vw;
    /* background-color: #0fff43; */

}

.cir {
  
    border-radius: 50%;
    
    width: 1vw;
    height: 1vw;
    background-color: #ff9b0f;
}